<template>
  <div class="footer__inner">
    <p class="footer__parag">
      <span class="score">All tasks: {{ allTasks }}</span>
      <span class="score">Completed: {{ doneTasks }} </span>
    </p>
    <p class="footer__parag">
      <button class="btn" @click="$emit('check-all-tasks')">
        Check All
      </button>
      <button class="btn" @click="$emit('delete-complete-tasks')">
        Delete completed
      </button>
    </p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['allTasks', 'doneTasks']),
  },
}
</script>

<style lang="scss" scoped>
.footer__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__parag {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}
</style>
