<template>
  <div class="app__layout">
    <header class="app__header">
      <slot name="header">Header</slot>
    </header>
    <main class="app__main">
      <slot></slot>
    </main>
    <footer class="app__footer">
      <slot name="footer">Footer</slot>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'Layout',
}
</script>

<style scoped>
.app__layout {
  width: 500px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__header {
  width: 100%;
  margin-bottom: 40px;
}

.app__main {
  width: 100%;
  margin-bottom: 40px;
}

.app__footer {
  width: 100%;
}
</style>
