<template>
  <section class="section-todo">
    <ul class="todo-list" v-if="allTasks">
      <li
        class="todo-list__item"
        v-for="todo in todos"
        :key="todo.id"
        @click="onTaskListener($event, todo)"
      >
        <label class="label-item">
          <input
            class="visually-hidden"
            type="checkbox"
            :checked="todo.done"
            @change="checkTask(todo)"
          />
          <svg v-if="todo.done" width="16" height="16" class="check-icon">
            <use href="#check" />
          </svg>
          {{ todo.title }}
        </label>
        <button data-action="delete" class="btn">
          <svg width="18" height="18">
            <use href="#close-icon" />
          </svg>
        </button>
        <button data-action="check" class="btn">check</button>
      </li>
    </ul>
    <div v-else>Список задач пуст</div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'TodoList',
  computed: {
    ...mapGetters(['allTasks']),
    todos() {
      return this.$store.state.todo.todos
    },
  },
  methods: {
    ...mapActions(['deleteTask', 'checkTask']),
    onTaskListener(evt, todo) {
      let actionElem = evt.target.closest('[data-action]')
      if (!actionElem) return
      let action = actionElem.dataset.action
      if (!action) return
      this[action](todo)
    },

    delete({ id }) {
      this.deleteTask({ id })
    },
    check({ id }) {
      this.checkTask({ id })
    },
  },
}
</script>

<style lang="scss" scoped>
.todo-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.todo-list__item {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid gray;
}

[data-action='delete'] {
  margin-left: auto;
  margin-right: 5px;
}

.label-item {
  position: relative;
  padding-left: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  &:hover {
    --icon-stroke: var(--akcentColor);
    color: var(--akcentColor);
  }
}

.check-icon {
  position: absolute;
  left: 0px;
}
</style>
