<template>
  <form class="todo-create__form">
    <input
      class="todo-create__input"
      type="text"
      placeholder="create task"
      v-model="value"
      @keydown.prevent.enter="createTask"
    />
    <button class="todo-create__btn btn" @click.prevent="createTask">
      Add task
    </button>
  </form>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'TodoCreate',
  data() {
    return {
      value: '',
    }
  },
  methods: {
    ...mapActions(['addTask']),
    createTask() {
      if (this.value.trim()) {
        this.addTask({ title: this.value })
      }
      this.value = ''
    },
  },
}
</script>

<style scoped>
.todo-create__form {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;

  display: flex;
}
.todo-create__input {
  width: 100%;
  height: 50px;
  padding-left: 28px;
  padding-right: 20px;

  border: none;
  outline: none;
}

.todo-create__btn {
  height: 50px;
}
</style>
