<template>
  <div id="app">
    <svg style="display: none">
      <symbol
        id="check"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.5714 4.57141L6.28573 10.8571L3.42859 7.99998"
          stroke="var(--icon-stroke, #253B4D)"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </symbol>
      <symbol
        id="close-icon"
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.25 4.8075L13.1925 3.75L9 7.9425L4.8075 3.75L3.75 4.8075L7.9425 9L3.75 13.1925L4.8075 14.25L9 10.0575L13.1925 14.25L14.25 13.1925L10.0575 9L14.25 4.8075Z"
          style="fill: var(--fill-style,  #181818)"
        />
      </symbol>
    </svg>
    <AppLayout>
      <TodoCreate />
      <TodoList />
      <template #footer>
        <AppFooter />
      </template>
    </AppLayout>
  </div>
</template>

<script>
import TodoCreate from '@/components/TodoCreate.vue'
import TodoList from './components/TodoList'
import AppLayout from './components/AppLayout.vue'
import AppFooter from './components/AppFooter'

export default {
  name: 'App',
  components: {
    TodoCreate,
    TodoList,
    AppLayout,
    AppFooter,
  },
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
