a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Gotham';
  font-size: 18px;
  line-height: 26px;
  color: var(--defaultTextColor);
  background-color: #f7f9fb;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

//
.content {
  width: 1180px;
  margin: 0 auto;
  margin-top: 120px;

  display: grid;
  grid-template-areas: 'content aside';
  grid-template-columns: 850px 290px;
  grid-template-rows: auto;
  grid-column-gap: 40px;
}

.btn {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gotham';
  font-size: 12px;
  text-transform: uppercase;

  background-color: transparent;
  background-repeat: no-repeat;

  background: #ffffff;
  border: 1px solid var(--akcentFonColor);
  border-radius: 4px;

  background-repeat: no-repeat;

  cursor: pointer;
  outline: none;

  &:hover {
    --fill-style: var(--akcentColor);
    color: var(--akcentColor);
  }
}

.button {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Gotham';
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  color: var(--akcentFonColor);
  text-transform: uppercase;

  background: #ffffff;
  border: 1px solid var(--akcentFonColor);
  border-radius: 4px;

  background-repeat: no-repeat;

  cursor: pointer;
  outline: none;

  &--active {
    background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
    color: #ffffff;
  }
}

.link {
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--akcentFonColor);
  &:hover {
    text-decoration: underline;
  }
}

.section-shadow {
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
}

#root {
  width: 350px;
  margin: 0 auto;
  padding: 0 5px;
}

@media (min-width: 768px) {
  #root {
    width: 450px;
  }
}
